img{
    width: 600px;
    height: 400px;
    margin-bottom: 5px;
}
a{
    color:black;
}
h2{
    text-decoration: underline;
}
.beagle{
    font-style: italic ;
    font-weight: bold;
}
ol{
    padding-left: 18px;
}